
/*visual*/
.visual_box{width: 2000px; overflow: hidden;position: relative;left: 50%;top: 0; margin-left: -1000px}
.visual{width:8000px;height:720px;margin-bottom: 350px;}
.gallery{position:relative; height:650px;top: 200px}
.gallery ul{height:650px;overflow:hidden;}
.gallery ul li{float:left;list-style:none}


.gallery_text{position: absolute;top:390px;right:250px;width:1000px}
.gallery_text ul li{display: none;text-align:right;font-size: 2.325em;color: #fff;line-height: 1.5em}
.gallery_text ul li .red{background: #f00}
.gallery_text ul li span{font-weight: bold}

.dock{width:200px; position:absolute; left:50%;bottom:150px; margin-left: -90px;}

.dock span.mbutton{ margin-right:15px; cursor:pointer; display:block;
           float:left;  width:16px; height:5px;
   background: #ccc; border-radius:8px;
  transition: all .5s}
.dock .ps{ margin-right:15px; margin-top: -3px; cursor:pointer; 
    display:block; float:left; width:10px; height:10px;
    background:url(../images/stop.png)}


img{border:0; vertical-align:top;}

 
/*maincon*/
#contentArea {}
#contentArea h3{color: #f00}

#contentArea #main{font-family: 'Nanum Gothic', sans-serif; margin-bottom: 200px}
#contentArea #main h3{text-align:center;font-size: 40px; margin-bottom:30px}
#contentArea #main p{text-align: center;color: #666;margin-bottom:100px}
#contentArea #main .main_box{width:600px;margin: 0 auto}

#contentArea #main .gallery_box{width:2000px;height: 520px; overflow:hidden;position:relative;margin-left:-970px; left: 50%}
#contentArea #main .main_box_inner{width: 1200px;overflow: hidden;position:relative; left:0; top:0;margin: 0 auto}
#contentArea #main .main_box_inner ul{ float: left;overflow: hidden}
#contentArea #main .main_box_inner li{width: 354px;height: 500px; background: #fff;float: left;margin-right:44px;border: 1px solid #ccc}
#contentArea #main .main_box_inner li div{width: 356px;height: 215px;overflow: hidden}
#contentArea #main .main_box_inner li img{width:354px}
#contentArea .main ul li:nth-of-type(3){margin:0}
#contentArea #main dl{margin:30px 0 15px 10px;padding: 15px 15px;position: relative}
#contentArea #main dt{font-size: 16px; font-weight: 700; margin-bottom: 10px;line-height: 2em}
#contentArea #main dd{font-size: 14px; line-height: 1.5em}
#contentArea #main li a{display: block;width: 356px;height: 502px;}
#contentArea #main li a span{margin:100px 0 15px 10px;width: 150px;height: 50px; font-weight: bold;position:absolute;top:340px;}
#contentArea #main li a span::before{display: block; content: '';width: 70px;height: 3px;background: #f00;position: absolute;top: -20px;left: 0}

#contentArea #main .gallery_box .button{display: block;width: 20px;height: 20px;position: absolute;color: #ccc;font-size:80px;font-weight:lighter}
#contentArea #main .gallery_box .button:hover{color: #f00;transition: all .4s ease}
#contentArea #main .gallery_box .leftBtn{top:210px;left:180px}
#contentArea #main .gallery_box .rightBtn{top:210px;right:250px}

/*bus*/
#contentArea #bus { overflow: hidden;margin-bottom: 100px;width: 1200px;margin: 0 auto;position: relative}
#contentArea #bus a div:nth-child(1){float: left;width: 242px;height: 242px;background: #fff;position: absolute;top:45px;z-index: 1;}
#contentArea #bus h3{font-size: 40px; text-transform: capitalize;margin-bottom: 20px;padding: 15px;line-height: 1.5em;}
#contentArea #bus h3 span{text-transform: uppercase;}
#contentArea #bus p {font-size: 18px;color: #666;padding-top: 20px;position: relative}
#contentArea #bus p::before{display: block; content: '';width: 80px;height: 3px;background: #f00;position: absolute;top: 0;left: 0}
#contentArea #bus div:nth-child(2){float: right;position: relative;top: 0;left: 0; overflow: hidden}
#contentArea #bus div:nth-child(2) img{transition: all .5s}
#contentArea #bus div:nth-child(2):hover img{transform: scale(1.2); opacity: .9}
#contentArea #bus a{display: block}

/*val*/
#contentArea #val { overflow: hidden;margin-bottom: 250px;width: 1200px;margin: 200px auto;position: relative}
#contentArea #val a div:nth-child(1){float: right;width: 242px;height: 242px;background: #fff;position: absolute;top: 45px;right: 0;z-index: 1}
#contentArea #val h3{font-size: 40px; text-transform: capitalize;margin-bottom: 20px;padding: 15px;line-height: 1.5em}
#contentArea #val h3 span{text-transform: uppercase;font-size: 30px}
#contentArea #val p {font-size: 18px;color: #666;padding: 20px 0 0 20px ;position: relative;}
#contentArea #val p::before{display: block; content: '';width: 80px;height: 3px;background: #f00;position: absolute;top: 0;left: 20px}
#contentArea #val div:nth-child(2){float: right;position: relative;top:0;right: 200px; margin-bottom: 150px ; overflow: hidden}
#contentArea #val div:nth-child(2) img{transition: all .5s}
#contentArea #val div:nth-child(2):hover img{transform: scale(1.2); opacity: .9}
#contentArea #val a{display: block}
#contentArea #val .bus_box .bus_menu h4 .indent{display: block; text-indent: 20px}


#contentArea #bus .bus_box .bus_menu h4 .indent{display: block; text-indent: 20px}

/*sche*/
#contentArea #sche{margin-bottom: 200px}
#contentArea .sche_box_inner{position: relative}
#contentArea #sche .sche_box_inner h3{text-align:center;font-size: 40px; margin:0 0 30px 50px}
#contentArea #sche .sche_box_inner p:nth-of-type(1){text-align: center;color: #666;margin:0 0 150px 50px}
#contentArea #sche .sche_box_inner p:nth-of-type(2){text-align:right;position: absolute;bottom: -2230px;right:70px;font-size:2em;line-height: 1.5em;width: 450px;height: 410px;}
#contentArea #sche .sche_box_inner p:nth-of-type(2) span{font-weight: bold}
#contentArea #sche .sche_box{}
#contentArea #sche .sche_box_inner{
    width: 1200px; margin: 0 auto ;}

#contentArea #sche .sche_box ul{position: relative; width: 1200px;height: 1800px;margin: 0 auto;}
#contentArea #sche .sche_box ul li:nth-of-type(1) a{display: block;width: 300px;height: 200px;position: absolute;top: 0;left:100px}
#contentArea #sche .sche_box ul li:nth-of-type(1) a:hover{position: absolute;top:0;left:160px;transition: all .6s ease;}
#contentArea #sche .sche_box ul li:nth-of-type(1){text-align: justify;font-size: 2.500em;padding-left: 100px;line-height: 1.5em;top:0px;left: 0px;position: relative}
#contentArea #sche .sche_box ul li:nth-of-type(1) span{color: #f00}
#contentArea #sche .sche_box ul li:nth-of-type(1)::after{position: relative;top: 0;left: 240px}
#contentArea #sche .sche_box ul li:nth-of-type(1) .ease_in_out{position:absolute; left:100px; margin-left:35px; animation: compare 2s infinite alternate;animation-timing-function:ease-in-out;
}
#contentArea #sche .sche_box ul li:nth-of-type(1) a:hover .ease_in_out{animation: none;left:110px}

@-webkit-keyframes compare{
  from{
    left:100px;
  }
  to{
    left:150px;
  }
}

#contentArea #sche .sche_box ul li:nth-child(2){position: absolute;top:0px;right: 0;overflow: hidden;border: 1px solid #ccc;width:510px;height:545px;margin-right: 50px;border: 1px solid rgba(0,0,0,.0)}
#contentArea #sche .sche_box ul li:nth-child(2) a{display: block;width: 490px;height: 150px;position: absolute;top:398px;right: 0;background:rgba(256,256,256,.5);padding:35px 0 0 20px;font-size: 2.500em;line-height: 1.5em}
#contentArea #sche .sche_box ul li:nth-child(2) a span{color: #f00}
#contentArea #sche .sche_box ul li:nth-child(2):hover{border: 1px solid #f00;transition: all .6s ease}
#contentArea #sche .sche_box ul li:nth-child(2) a:hover{background: rgba(0,0,0,.5);color: #fff;transition: all .4s ease}

#contentArea #sche .sche_box ul li:nth-child(3){position: absolute;top:312px;left:100px;overflow: hidden;border: 1px solid #ccc;width: 370px;height:575px }
#contentArea #sche .sche_box ul li:nth-child(3) a{display: block;width: 350px;height: 150px;position: absolute;top: 406px;left:0;background:rgba(256,256,256,.5);padding: 35px 0 0 20px;;font-size: 2.500em;line-height: 1.5em}
#contentArea #sche .sche_box ul li:nth-child(3) a span{color: #f00}
#contentArea #sche .sche_box ul li:nth-child(3):hover{border: 1px solid #f00;transition: all .6s ease}
#contentArea #sche .sche_box ul li:nth-child(3) a:hover{background: rgba(0,0,0,.5);color: #fff;transition: all .4s ease}

#contentArea #sche .sche_box ul li:nth-child(4){position: absolute;top:800px;right:51px;border: 1px solid #ccc;overflow: hidden}
#contentArea #sche .sche_box ul li:nth-child(4) a{display: block;width: 405px;height: 150px;position: absolute;top: 255px;right:0;background:rgba(256,256,256,.5);padding: 35px 0 0 20px;font-size: 2.500em;line-height: 1.5em}
#contentArea #sche .sche_box ul li:nth-child(4) a span{color: #f00}
#contentArea #sche .sche_box ul li:nth-child(4):hover{border: 1px solid #f00;transition: all .6s ease}
#contentArea #sche .sche_box ul li:nth-child(4) a:hover{background: rgba(0,0,0,.5);color: #fff;transition: all .4s ease}

#contentArea #sche .sche_box ul li:nth-child(5){position: absolute;top:1238px;left:100px;border: 1px solid #ccc;margin-bottom: 300px;overflow: hidden}
#contentArea #sche .sche_box ul li:nth-child(5) a{display: block;width: 430px;height: 150px;position: absolute;top: 385px;left:0;background:rgba(256,256,256,.5);padding:35px 0 0 20px;font-size: 2.500em;line-height: 1.5em}
#contentArea #sche .sche_box ul li:nth-child(5) a span{color: #f00}
#contentArea #sche .sche_box ul li:nth-child(5):hover{border: 1px solid #f00;transition: all .6s ease}
#contentArea #sche .sche_box ul li:nth-child(5) a:hover{background: rgba(0,0,0,.5);transition: all .4s ease;color: #fff}

/*scrollevent*/
.main,.bus,.val,.sche{position: relative;top: 50px;left: 0;opacity: 0;transition: all .8s}
.boxMove{top: 0;opacity: 1}
.text{position: fixed; right:0; top: 0;
           font-size: 50px; z-index: 100}