/*공통*/
article{width:98%;margin: 0 auto}

#title .title_area {position: relative;margin-bottom: 100px}
#title .title_area .linemap{text-align: center}
#title .title_area .linemap span{color: #666}
#title .title_area h3{font-size:1.4em;text-align: center}
#title .title_area h3::before{content:'';display: block; border-top: 1px solid #000;width: 100px;margin: 0 auto;padding: 10px 0}

/* list css */
#list_search {padding: 20px 0;display: flex;justify-content: center;align-items: center}
#list_search1 {}
#list_search2 {margin:-2px 5% 0 1%;}
#list_search2 select{border: 1px solid #999}
#list_search3 {margin:-2px 1% 0 0}
#list_search3 select{border:solid 1px #999;}
#list_search3 select option{border: 1px solid #ccc;padding: 3px 0}
#list_search4 {margin:-3px 1% 0 0}
#list_search5 {margin: -3px 0 0}
#list_search #list_search4 input {width:90px;height:18px;border:solid 1px #999;}
#list_search5 input{background: #fff;border: 1px solid #999}

#list_top_title {padding:13px;border-top:solid 1px #999;margin-bottom:3px;}
#list_top_title ul{display: flex;justify-content: space-between;align-items: center}
#list_top_title #list_title1{display: none}
#list_top_title #list_title2 {flex-grow: 4}
#list_top_title #list_title3 {flex-grow: 1}
#list_top_title #list_title4 {display: none}
#list_top_title #list_title5 {display: none}

#list_content{}
#list_item {margin-bottom:20px;padding: 20px 0;border-bottom:solid 1px #ccc;font-size: 1.05em;display: flex;justify-content: space-between}
#list_item1 {}
#list_item2 {flex-grow: 3}
#list_item2 a{font-size: 1em;line-height: 1.5em}
#list_item2 a span{font-size:0.8em;color: #666}
#list_item3 {flex-grow: 1;text-align: center}
#list_item4 {}
#list_item5 {}
/*button*/
#page_button {overflow: hidden;position: relative;padding: 0 0 12%}
#page_num {position: absolute;top:75%;width: 98%;margin:0 auto;text-align: center}
#button {}
#button a{display: block;padding: 8px; background: #fafafa;color: #333;border: 1px solid #753b3b;font-size: 1.25em;text-align: center;margin:0 auto 5px}
#button .adminbtn{width: 318px;margin: 0px auto 15px auto;overflow: hidden}
#button .modify,#button .delete{width: 138px;float: left;}
#button .modify{margin-right: 5px}
/* write_form css */
.content_write{}
#title_write {}
#title_write .title_area{position: relative;margin-bottom: 100px}
#title_write .title_area .linemap{position: absolute;top:-70px;left:30px}
#title_write .title_area .linemap span{color: #666}
#title_write .title_area h3{font-size:1.4em;text-align: center}
#title_write .title_area h3::before{content:'';display: block; border-top: 1px solid #000;width: 140px;margin: 0 auto;padding: 10px 0}
.write_line {border-bottom:solid 1px #ccc;}
#write_form {}
#write_form>div{overflow: hidden;font-size: 1.125em;margin: 15px 0}
#write_form #write_row1 {}
#write_form #write_row2 {}
#write_form #write_row3 {}
#write_form div .col1 {text-align:center;padding:5px;background: #ebf4f6;border-radius: 15px;margin-right:30px}
#write_form div .col2{}
#write_form div .col2 textarea{margin-top:1px;border:solid 1px #cccccc;}
#write_form div .col2 input {border:solid 1px #cccccc;}

/* view.php css */

#view_title {padding:0 3px;margin-bottom:5%}
#view_title1 {font-size: 1.3em;border-bottom:solid 1px #999;padding-bottom: 2%;line-height: 1.5em}
#view_title2 {margin-top:4%}
#view_content {min-height:200px;line-height:1.5em;border-bottom:solid 1px #999;margin-bottom:5%}
#ripple_box{}
#ripple_box1{}
#ripple_box1 textarea{width: 100%}
#ripple_box2{}
#ripple_box2 a{display: block;background: #666;color: #fff;font-size: 1.125em;font-weight: bold;text-align: center;padding:10px;margin: 2% 0}

#ripple_writer_title{border-bottom: 1px solid #ccc;width: 830px;margin: 10px auto}
#ripple_writer_title ul{overflow: hidden;text-align: right}
#ripple_writer_title ul li{float: left;margin-right: 15px;font-size: 1.12em}
#ripple_content{width: 830px;margin: 0 auto;font-size: 1.15em;line-height: 1.5em; margin-bottom: 15px;}
#ripple_writer_title{padding:5px;background: #ebf4f6;border-radius: 15px;border: 0}