/* Reset CSS  */
* { margin:0; padding:0; border:0; outline:0; vertical-align:top;
-webkit-text-size-adjust:none;  }
body {font-family:'나눔스퀘어','돋움',Open Sans,NanumSqure, Dotum; font-size:16px; color:#333;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
ul, ol, dl { list-style:none; }
img, video {border:0; vertical-align:top; }
a, a:link {color:#333;text-decoration:none; }
a:visited { color:#333; }
a:hover, a:active {color:#333;text-decoration:none; }
table { border-collapse:collapse; border-spacing:0; }
input, select { vertical-align:middle; }
label { cursor:pointer; }
.blind,legend,hr,caption { display:block; overflow:hidden; position:absolute; top:0; left:-1000em; }
i,em,address { font-style:normal; font-weight:normal; }
p,li,dd{ line-height:1.5em}
h3{font-family: 'Nothing You Could Do', cursive;font-size: 70px;padding: 65px 0; color: #504e48;text-align: center}
.hidden,#skipNav{display: block;position: absolute;left: -1000%;top: 0;width: 1px;height: 1px;overflow: hidden;color: #fff}

/*header*/
#headerArea{position:fixed; z-index: 30; height:120px;
	  left:0; top: 0;
	 width: 100%;}	
#headerArea	.headerInner{width: 80%; margin: 0 10%;
	  overflow: hidden}
#headerArea h1{ float: left;padding-top: 13px}
#headerArea h1 a{background:url(../images/logo.png)no-repeat;display: block; width:230px; height: 107px; background-size:150px;}	
#headerArea #gnb{float: right;margin-top: 50px}
#headerArea #gnb .menu{overflow: hidden;height: 30px}
#headerArea #gnb .menu li{float: left; margin-right: 40px;}
#headerArea #gnb .menu li a{color: #996; text-decoration: none;font-size:1.875em; font-family: 'Open Sans', sans-serif;font-weight: 600}
#headerArea .menuOpen{display: none;}

@media screen and (max-width:1024px) {
}

/* 소형 테블릿 */
@media screen and (max-width:768px) {
#headerArea .menuOpen{display: block;}
#headerArea #gnb .menu li{float: none; margin:30px 0;text-align: center}
#headerArea #gnb .menu{height: auto;}
#headerArea #gnb {margin-top: 0; position: absolute; left: 0; top: 120px; width: 100%; background: rgba(255,255,255,.3)}
 
}
/* 모바일 */


@media screen and (max-width:640px) {
    #headerArea #gnb {margin-top: 0}
}



#headerArea .menuOpen{position: absolute;top:40%;right: 5%}
#headerArea .menuOpen span{display: block;width:30px;height: 3px;background: #fff;margin-bottom:6px;border-radius: 15px}

/*footer*/
.topMove{display:block; width: 50px;height: 50px; background: #ff7f50; border-radius:8px;position: fixed; right:5%; margin-left: 650px;bottom:100px;}
.topMove span{font-size: 20px;font-weight:bold;color: #330;display: block;text-align: center;margin-top:12px}
#footerArea{overflow: hidden;background:#3a3f53;clear: both;}
#footerArea .footerInner {width: 1600px;margin: 0 auto; overflow: hidden;padding: 30px 0}
#footerArea .footerInner div{width: 500px;margin: 0 auto}
#footerArea .footerInner img{margin-left: 45%;margin-bottom: 50px}
#footerArea .footerInner p{text-align: center ;color: #999;font-size: 0.929em;line-height: 1.5em}
@media screen and (max-width:1024px) {
    #footerArea .footerInner {
    width: 900px;
        margin: 0 auto; overflow: hidden;padding: 30px 20px;}}
@media screen and (max-width:640px) {
        #footerArea .footerInner{width:500px;
    margin: 0 auto; overflow: hidden;padding: 30px 0;}}