#memberForm{}
#memberForm header{border-bottom: 1px solid #ccc;margin-bottom:60px}
#memberForm .headerInner {width: 1200px; margin: 0 auto}
#memberForm header h1{padding: 20px 0;text-indent: -999px;color: rgba(0,0,0,.0);}
#memberForm header h1 a{display: block;background: url(../../common/images/main_logo.png) no-repeat;width: 270px;height: 47px}
#login_form{width: 800px;margin:170px auto}
#login_form h2{margin-bottom: 100px;font-size: 3.125em}

#id_pw_input .formbox{width: 800px;border: 1px solid #ccc;margin: 30px 0;height: 40px}
#id_pw_input ul{overflow: hidden;padding:10px 0;position: relative}
#id_pw_input ul li{float: left;height:30px}
#id_pw_input ul li:first-of-type{width: 200px;font-size: 1.325em;padding-left: 20px;position: relative}
#id_pw_input ul li:first-of-type::after{content: '';display: block;background: #666;width: 1px;height: 15px;position: absolute;top: 0;right: 0;margin-right: 20px}
#id_pw_input ul li:last-of-type{width: 340px}
#id_pw_input ul li:last-of-type input{border: 0; width: 100%;font-size: 1.125em;margin-left: 20px}
#id_pw_input ul li:last-of-type span{position: absolute;top:23%;right: 0%;width: 200px}
/*btn*/
.btn{margin:100px auto;width: 800px;height: 50px}
.btn input{display: block;width: 385px;float: left;text-align: center;padding:10px 0 ;font-weight: bold;float: left;font-size: 1.5em}

.btn .login{width: 383px;border: 1px solid #f00;margin-right:28px;background: #fff}
.btn .login:hover{background:#f00;transition: .1s ease-in;color: #fff}
.btn .signup{background: #ccc;color: #fff;border: 0}
.btn .signup:hover{background: #fff;border: 1px solid #ccc;transition: .1s ease-in;color: #333;width: 383px}

@media screen and (max-width:640px) {
    #login_form{width:inherit}
    #id_pw_input ul li:first-of-type {width: 20%;font-size: 2em}
    
    
    .btn{margin:100px auto;width:inherit;height:inherit}
    .btn .login{width: inherit;margin:0 0 5%}
    
}